html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

* {
  font-family: Roboto;
}

.bookmenu button {
  margin-top: 0em;
  margin-bottom: 0.7em;
  border-radius: 10em;
  border: none;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  font-size: 1.3em;
  color: white;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transform: scale(1);
  transition-duration: 1000ms;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bookmenu button:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 80%);
}

.logo-top {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.location {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  box-shadow: 0px 0px 4px #b0bec5;
}
.location__spacing {
  font-size: 0.5em;
  word-spacing: 1em;
}

.bookmenu {
  background-color: #e9e7e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.howitworks {
  background-color: white;
}
.howitworks h2 {
  display: flex;
  justify-content: flex-start;
  padding: 1em 2em 0;
}
.howitworks__ct {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.howitworks__ct :hover {
  background: white;
}
.howitworks__ct__shape {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-style: none;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 2.5em;
  width: 20em;
  height: 3.4em;
  background-color: #e9e7e6;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.howitworks__ct__shape__num {
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #ddd;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 980px) {
  .howitworks__ct {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .howitworks__ct__shape {
    margin-top: 1em;
  }
}
.restaurants {
  margin-top: 3em;
  background-color: #ededed;
}
.restaurants h2 {
  padding: 1em 0em 0em 2em;
}
.restaurants__card {
  padding: 1em 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  transform: scale(1);
  transition-duration: 1000ms;
  z-index: 1;
}
.restaurants__card__sz {
  background-color: white;
  height: 28em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  transform: scale(1);
  transition-duration: 1000ms;
  z-index: 1;
}
.restaurants__card__sz:hover {
  transform: scale(1.02);
}
.restaurants__card__sz img {
  width: 100%;
  height: 23em;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}
.restaurants__card__sz h3, .restaurants__card__sz p {
  line-height: 0.3em;
  padding-left: 1em;
}
.restaurants__card__sz .restaurant__card__sz__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restaurant__card__sz__element__hearth .fa-regular.fa-heart {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.restaurant__card__sz__element__hearth .fa-regular.fa-heart {
  font-size: 2rem;
  position: absolute;
  bottom: 25px;
  opacity: 1;
  right: 25px;
}
.restaurant__card__sz__element__hearth .fa-solid.fa-heart {
  font-size: 2rem;
  position: absolute;
  bottom: 25px;
  right: 25px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(1);
}
.restaurant__card__sz__element__hearth .fa-solid.fa-heart:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.restaurant__card__sz__element__new {
  position: relative;
  bottom: 21.5em;
  width: 7em;
  background-color: #99E2D0;
  height: 2em;
  right: 3em;
}
.restaurant__card__sz__element__new p {
  position: relative;
  left: 1.4em;
  bottom: 0.1em;
  color: #278971;
}
.restaurant__card__sz__element__new:hover {
  background-color: #278971;
}
.restaurant__card__sz__element__new:hover p {
  color: #99E2D0;
}

@media screen and (max-width: 980px) {
  .restaurants__card {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 1em 1em 1em 1em;
    grid-template-columns: repeat(auto-fit, minmax(27em, 1fr));
    gap: 0.5em;
  }
}
.footer {
  background-color: rgba(99, 99, 99, 0.8);
  height: auto;
}
.footer__info {
  padding: 0em 3em;
}
.footer__info__logo {
  font-family: shrikhand;
  color: white;
  margin: 0;
  padding: 1.3em 0 1.3em 0;
  letter-spacing: 2px;
}
.footer__info__logo__text {
  display: block;
  margin: 0.8em 0;
  font-size: 1em;
  color: white;
}
.footer__info__logo__text__bold {
  font-weight: bold;
}

.toplogo-button {
  display: flex;
  padding: 2em 2em 2em 2em;
  align-items: center;
  gap: 1em;
  height: 5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}
.toplogo-button img {
  margin-left: auto;
  margin-right: auto;
}

.headerpic {
  overflow: hidden;
  height: 26em;
}
.headerpic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main {
  position: relative;
  background-color: #e9e7e6;
  border-radius: 2.8em 2.8em 0 0;
  margin-top: -3em;
  padding-bottom: 10px;
}
.main__content {
  margin: 0em 1em;
}
.main__content__title {
  font-family: Shrikhand;
  padding: 1.2em 0 0 1em;
  font-size: 1.6em;
}
.main__content__hearth .fa-regular.fa-heart {
  opacity: 0;
  transition: 1s ease-in-out;
}
.main__content__hearth .fa-solid.fa-heart:hover {
  opacity: 1;
  transition: 1s ease-in-out;
}
.main__content__hearth .fa-regular.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 1.5em;
  top: 30px;
  opacity: 1;
}
.main__content__hearth .fa-solid.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 36px;
  top: 30px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.main-content__container__menu {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  padding: 1em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 0.5em;
}
.main-content__container__menu__item {
  background: white;
  height: 75px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.main-content__container__menu__item:hover .main-content__container__menu__item__text {
  width: calc(90% - 5px);
  transition: width 0.5s ease-in-out;
}
.main-content__container__menu__item:hover .main-content__container__menu__item__check {
  transform: translateX(0px);
  transition: 0.5s ease-in-out;
}
.main-content__container__menu__item h4 {
  margin: 10px 0px 5px 15px;
  font-weight: bold;
}
.main-content__container__menu__item__text {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  transform-origin: left 50%;
  transition-duration: 2s;
}
.main-content__container__menu__item__text p:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 0px 0px 0px;
  font-size: 1em;
  text-decoration: none;
  padding-left: 0.9em;
}
.main-content__container__menu__item__text p:nth-child(2) {
  margin: 0;
  font-weight: bold;
  width: 130px;
  overflow: hidden;
  text-decoration: none;
}
.main-content__container__menu__item__check {
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  transform-origin: right 50%;
  border-radius: 0px 20px 20px 0px;
  transform: translateX(65px);
  overflow: hidden;
  transition-duration: 0.5s;
}
.main-content__container__menu__item__check .fa-solid.fa-check {
  position: absolute;
  left: 18px;
  top: 23px;
  font-size: 1.5rem;
  color: #99E2D0;
  opacity: 1;
  border-radius: 15px;
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under-line::after {
  padding: 0em 1em 0em 1em;
  content: "";
  display: block;
  width: 8px;
  padding-top: 3px;
  border-bottom: 3px solid #99E2D0;
}

.main-content__container__menu > :nth-of-type(1) {
  animation: SlideDown 0.2s ease-in-out;
}

.main-content__container__menu > :nth-of-type(2) {
  animation: SlideDown 0.4s ease-in-out;
}

.main-content__container__menu > :nth-of-type(3) {
  animation: SlideDown 0.6s ease-in-out;
}

.main-content__container__menu > :nth-of-type(4) {
  animation: SlideDown 0.8s ease-in-out;
}

.main-content__container__menu > :nth-of-type(5) {
  animation: SlideDown 1s ease-in-out;
}

.main-content__container__menu > :nth-of-type(6) {
  animation: SlideDown 1.2s ease-in-out;
}

.main-content__container__menu > :nth-of-type(7) {
  animation: SlideDown 1.4s ease-in-out;
}

.main-content__container__menu > :nth-of-type(8) {
  animation: SlideDown 1.6s ease-in-out;
}

.main-content__container__menu > :nth-of-type(9) {
  animation: SlideDown 1.6s ease-in-out;
}

@keyframes SlideDown {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 1066px) {
  .main-content__container__menu {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 1em 1em 1em 1em;
    grid-template-columns: repeat(auto-fit, minmax(27em, 1fr));
    gap: 0.5em;
  }
  .main-content__container__menu__item {
    margin-top: 1em;
    width: 100%;
  }
}
@media screen and (max-width: 1533px) {
  .main-content__container__menu {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 1em 1em 1em 1em;
    grid-template-columns: repeat(auto-fit, minmax(27em, 1fr));
    gap: 0.5em;
  }
  .main-content__container__menu__item {
    margin-top: 1em;
    width: 100%;
  }
}
.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 1;
  animation: showing;
  animation-duration: 0s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.spinner__element {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #FF79DA;
  width: 120px;
  height: 120px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  animation-name: rotating;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: visible;
  }
}
@keyframes showing {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    z-index: -10;
    display: none;
  }
}
.body {
  animation-duration: 4s;
}

/*# sourceMappingURL=style.css.map */
