$primary: #9356DC;
$secondary: #FF79DA;
$color-tertiary: #99E2D0; 
$secondaire: #FF79DA;
$linear-violet: linear-gradient(to bottom, #FF79DA 0%, #9356DC 80%);
$white: #ffff;
$color-tertiary-dark: #278971;