.main-content {
    img {
        width: 100%;
        height: 26em;
        object-fit: cover;
        margin: 0
        
    }
    &__container {
        background-color: #e9e7e6;
        margin-top: 0;
        top: -30px;
        border-radius: 35px 35px 0 0;
        &__header {
            padding: 1em 3em 1em 3em;
            display: flex;
            align-items: center;
            gap: 3em;
            margin: auto;
            h2 {
                font-family: Shrikhand;
               
            }

            .fa-heart {
                margin-left: auto;
                fill: red;
                color: red;
                
            }

         }

        p {
            color: black ;
            padding: 0em 3em 0em 3em;
            text-decoration-line: underline;
            text-decoration-color: #99E2D0;  
            text-decoration-style: solid;
            text-decoration-thickness: 3px; 
            text-underline-offset: 3px;
            

        }

        &__menu {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            padding: 1em 1em 1em 1em;
            
            &__item {
                margin: 0 0px 0px 0;
                background: white;
                height: 70px;
                width: 36em;
                border-radius: 20px;
                box-shadow: grey;
                position: relative;
                overflow: hidden;
                &:hover .main-content__container__menu__item__text{
                    width: calc(90% - 5px);
                    transition: width .5s ease-in-out;
        }
                &:hover .main-content__container__menu__item__check{
                    transform: translateX(0px);
                    transition: .5s ease-in-out;
                    }
                &:hover .fa-solid.fa-check{
                    transform: rotate(360deg);
                    transition: rotate .5s ease-in-out ;
                    }
                h4 {
                    margin:10px 0px 5px 15px;
                    font-weight: bold;
                    font-size: normal;
                } 
                
                &__text {
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    width: 100%;
                    transform-origin: left 50%;
                    transition-duration: 2s;
                   
                    p:nth-child(1) {
                        white-space: wrap;
                        overflow:hidden;
                        text-overflow: ellipsis;  
                        margin:0px 0px 0px 0px;
                        font-size: 1em; 
                        text-decoration: none; 
                        left: -40px;
                       

                    }

                    p:nth-child(2) {
                        margin: 0;
                        font-weight: bold;
                        
                        width:130px;
                        overflow: hidden;
                        text-decoration: none;
                    }
                }

                &__check {
                    position: absolute;
                    background-color: #99E2D0;
                    top: 0;
                    bottom:0;
                    right:0;
                    width: 65px;
                    transform-origin: right 50%;
                    border-radius: 0px 20px 20px 0px;
                    transform: translateX(65px);
                    overflow: hidden;
                    transition-duration: .5s;
                    .fa-solid.fa-check{
                        position:absolute;
                        left: 18px;
                        top: 20px;
                        font-size: 1.5rem;
                        color: #99E2D0;
                        opacity: 1;
                        border-radius: 15px;
                        background-color: #ffff;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
    
                }
            
            
            
            
            
            
            }
        
        
        
        
        
        
        
        
        }}
  