.restaurants{
    margin-top: 3em;
    background-color: #ededed;
    &__card{
        padding: 1em 3em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
        transform: scale(1);
        transition-duration: 1000ms;
        z-index: 1;
        &__sz {
            background-color: #ffff;
            height: 28em;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 20px;
            transform: scale(1);
            transition-duration: 1000ms;
            z-index: 1;
            &:hover {
                transform: scale(1.02);
        
            }
            img {
                width: 100%;
                height: 23em;
                object-fit: cover;
                display: block; 
                border-radius: 20px 20px 0 0;

            }
            h3,p {
                line-height: 0.3em;
                padding-left: 1em;

            }

            .restaurant__card__sz__element {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

               

                }



            }


            
            
        }
    }


    

    .fa-heart {
        object-fit: cover;
        padding-right: 1em;
        transition-duration: 4s;
        transition-property: color;
        transition-timing-function: ease-in-out;
        
        

    }
    .restaurant__card__sz__element__hearth__empty {
        width: 20px;
        height: 20px;      
        color: #e9e7e6;  
        padding-right: 4em;
        
    }

    .restaurant__card__sz__element__hearth__empty::before {
        content: "";
    }

    .restaurant__card__sz__element__hearth__full {
        position: relative;
        display: none;
        top: -19px;

        


    }

    .restaurant__card__sz__element__hearth__empty:hover +.restaurant__card__sz__element__hearth__full {
        display: block;
        background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 80%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
       
        


    }

 

     

